.wave-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 0;
  display: flex;
  align-items: flex-end;
  border-radius: 0.5rem;
}

.wave-row {
  position: relative;
  flex: 1;
  bottom: 0;
  min-width: 1px;
}

.wave-box {
  width: 100%;
  aspect-ratio: 1;
  background: hsl(var(--primary));
}

.color-variation {
  background-color: transparent;
}

.black {
  background-color: transparent;
  border: transparent;
}
